@page
@model INVENTAR.IO.Pages.User.Department.CreateModel
@{
    ViewData["Title"] = "Department";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <br />

    <form method="post">
        <div class="mb-3">
            <label asp-for="Department.DepartmentName" class="form-label">New department</label>
            <input type="text" asp-for="Department.DepartmentName" class="form-control" style="text-transform: uppercase;" />
            <span asp-validation-for="Department.DepartmentName" class="text-danger"></span>
        </div>
        <div>
            <a asp-page="./Index" class="btn btn-outline-theme">Back</a>
            <input type="submit" class="btn btn-theme" value="Create"/>
        </div>
    </form>
</div>

@section Scripts{
@{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}