@page
@model INVENTAR.IO.Pages.Asset.AddModel
@{
    ViewData[ "Title" ] = $"{Model.Product.ProductName} - {Model.Product.ProductModel}";
}

<div class="container">
    <div class="list-header">
        <h3 class="col-10">@ViewData[ "Title" ]</h3>
    </div>
    <p>@Model.Product.ProductDescription</p>

    <form method="post">
        <div class="mb-3">
            <label asp-for="Asset.AssetId" class="form-label">Asset ID</label>
            <input type="text" asp-for="Asset.AssetId" class="form-control" style="text-transform: uppercase;" />
            <span asp-validation-for="Asset.AssetId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Asset.ColaboratorId" class="form-label">Department</label>
            <select class="form-select" aria-label="Department" asp-items="Model.Colaborators" asp-for="Asset.ColaboratorId">
                <option>Select a colaborator</option>
            </select>
        </div>
        <div>
            <a asp-page="./Index" class="btn btn-outline-theme">Back</a>
            <input asp-route-id="@Model.Product.ProductId" type="submit" class="btn btn-theme" value="Create" />
        </div>
    </form>
</div>