@page
@model INVENTAR.IO.Pages.User.SectorModel
@{
    ViewData["Title"] = "Sector";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="mb-3">
        <label for="SectorExample" class="form-label">Sector Name</label>
        <input type="text" asp-for="Sector" class="form-control" @* placeholder="Sector" *@ style="text-transform: uppercase;" />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>