html {
    font-size: 14px;
    --theme-color: #7461E8;
    --theme-disabled-color: #ACA2E8;
    --theme-color-table: rgba(116, 97, 232, 0.1);
    --theme-secondary-color: #748DE8;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

td a {
    display: block;
    padding: 0px;
    text-decoration: none;
    color: black;
}

.clicable-line:hover {
    transform: scale(1.05);
    font-weight: bold;
}

.teste-banner {
    background-color: var(--theme-color);
}

.list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: stretch;
}

.btn:hover {
    transform: scale(0.95);
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.bg-theme {
    --bs-bg-opacity: 1;
    background-color: var(--theme-color) !important;
}

.btn-theme {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--theme-color);
    --bs-btn-border-color: var(--theme-color);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--theme-secondary-color);
    --bs-btn-hover-border-color: var(--theme-color);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--theme-color);
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--theme-disabled-color);
    --bs-btn-disabled-border-color: var(--theme-disabled-color);
}

.btn-outline-theme {
    --bs-btn-color: var(--theme-color);
    --bs-btn-border-color: var(--theme-color);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--theme-color);
    --bs-btn-hover-border-color: var(--theme-color);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--theme-color);
    --bs-btn-active-border-color: var(--theme-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--theme-color);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--theme-color);
    --bs-gradient: none;
}
