@page
@model INVENTAR.IO.Pages.User.Department.EditModel
@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
        <input type="hidden" asp-for="Department.DepartmentId"/>
        <div class="mb-3">
            <input type="text" asp-for="Department.DepartmentName" class="form-control" style="text-transform: uppercase;" />
            <span asp-validation-for="Department.DepartmentName" class="text-danger"></span>
        </div>
        <div>
            <a asp-page="./Index" class="btn btn-outline-theme">Back</a>
            <input type="submit" class="btn btn-theme" value="Edit" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}