@page
@model INVENTAR.IO.Pages.User.Department.IndexModel
@{
    ViewData["Title"] = "Department";
}

<h3>Department</h3>
<hr />
<a class="btn btn-primary">Add</a>
<br />
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Departments[0].DepartmentName)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model.Departments)
        {
            <tr>
                <td>@Html.DisplayFor(model => department.DepartmentName)</td>
                <td align ="right">
                    <a class="btn btn-info">Edit</a>
                    <a class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>